.btn-primary {
  --bs-btn-color: #fff !important;
  --bs-btn-bg: #575a5d !important;
  --bs-btn-border-color: #575a5d !important;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #575a5d !important;
  --bs-btn-hover-border-color: #575a5d !important;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #575a5d !important;
  --bs-btn-active-border-color: #575a5d !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #575a5d !important;
  --bs-btn-disabled-border-color: #575a5d !important;
}
